//! **************************************************************************
// Written by: Map P.20131013 on Wed Dec 16 14:42:06 2020
//! **************************************************************************

SCHEMATIC START;
COMP "e" LOCATE = SITE "P14" LEVEL 1;
COMP "f" LOCATE = SITE "P21" LEVEL 1;
COMP "g" LOCATE = SITE "P5" LEVEL 1;
COMP "Com<10>" LOCATE = SITE "P140" LEVEL 1;
COMP "Com<11>" LOCATE = SITE "P138" LEVEL 1;
COMP "Com<12>" LOCATE = SITE "P134" LEVEL 1;
COMP "Com<20>" LOCATE = SITE "P137" LEVEL 1;
COMP "Com<13>" LOCATE = SITE "P132" LEVEL 1;
COMP "Com<21>" LOCATE = SITE "P133" LEVEL 1;
COMP "Com<14>" LOCATE = SITE "P127" LEVEL 1;
COMP "Com<22>" LOCATE = SITE "P131" LEVEL 1;
COMP "Com<30>" LOCATE = SITE "P115" LEVEL 1;
COMP "Com<15>" LOCATE = SITE "P124" LEVEL 1;
COMP "Com<23>" LOCATE = SITE "P126" LEVEL 1;
COMP "Com<31>" LOCATE = SITE "P114" LEVEL 1;
COMP "Com<16>" LOCATE = SITE "P2" LEVEL 1;
COMP "Com<24>" LOCATE = SITE "P121" LEVEL 1;
COMP "Com<32>" LOCATE = SITE "P112" LEVEL 1;
COMP "Com<17>" LOCATE = SITE "P143" LEVEL 1;
COMP "Com<25>" LOCATE = SITE "P120" LEVEL 1;
COMP "Com<33>" LOCATE = SITE "P111" LEVEL 1;
COMP "Com<18>" LOCATE = SITE "P141" LEVEL 1;
COMP "Com<26>" LOCATE = SITE "P119" LEVEL 1;
COMP "Com<34>" LOCATE = SITE "P105" LEVEL 1;
COMP "Com<19>" LOCATE = SITE "P139" LEVEL 1;
COMP "Com<27>" LOCATE = SITE "P118" LEVEL 1;
COMP "Com<35>" LOCATE = SITE "P104" LEVEL 1;
COMP "Com<28>" LOCATE = SITE "P117" LEVEL 1;
COMP "Com<36>" LOCATE = SITE "P102" LEVEL 1;
COMP "Com<29>" LOCATE = SITE "P116" LEVEL 1;
COMP "Com<37>" LOCATE = SITE "P101" LEVEL 1;
COMP "Com<0>" LOCATE = SITE "P24" LEVEL 1;
COMP "Com<38>" LOCATE = SITE "P100" LEVEL 1;
COMP "sw1" LOCATE = SITE "P66" LEVEL 1;
COMP "Com<1>" LOCATE = SITE "P22" LEVEL 1;
COMP "Com<2>" LOCATE = SITE "P17" LEVEL 1;
COMP "Com<3>" LOCATE = SITE "P15" LEVEL 1;
COMP "Com<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "Com<5>" LOCATE = SITE "P10" LEVEL 1;
COMP "Com<6>" LOCATE = SITE "P8" LEVEL 1;
COMP "Com<7>" LOCATE = SITE "P6" LEVEL 1;
COMP "Com<8>" LOCATE = SITE "P1" LEVEL 1;
COMP "Com<9>" LOCATE = SITE "P142" LEVEL 1;
COMP "clock" LOCATE = SITE "P123" LEVEL 1;
COMP "a" LOCATE = SITE "P23" LEVEL 1;
COMP "b" LOCATE = SITE "P16" LEVEL 1;
COMP "c" LOCATE = SITE "P7" LEVEL 1;
COMP "d" LOCATE = SITE "P11" LEVEL 1;
SCHEMATIC END;

