//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 05 14:05:04 2020
//! **************************************************************************

SCHEMATIC START;
COMP "e" LOCATE = SITE "P32" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "P62" LEVEL 1;
COMP "f" LOCATE = SITE "P29" LEVEL 1;
COMP "g" LOCATE = SITE "P27" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "P61" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "P59" LEVEL 1;
COMP "SW<4>" LOCATE = SITE "P58" LEVEL 1;
COMP "DP<1>" LOCATE = SITE "P112" LEVEL 1;
COMP "SW<5>" LOCATE = SITE "P57" LEVEL 1;
COMP "DP<2>" LOCATE = SITE "P111" LEVEL 1;
COMP "SW<6>" LOCATE = SITE "P56" LEVEL 1;
COMP "MN4" LOCATE = SITE "P88" LEVEL 1;
COMP "DP<3>" LOCATE = SITE "P105" LEVEL 1;
COMP "MN5" LOCATE = SITE "P85" LEVEL 1;
COMP "SW<7>" LOCATE = SITE "P55" LEVEL 1;
COMP "MN6" LOCATE = SITE "P87" LEVEL 1;
COMP "DP<4>" LOCATE = SITE "P104" LEVEL 1;
COMP "MN7" LOCATE = SITE "P84" LEVEL 1;
COMP "DP<5>" LOCATE = SITE "P102" LEVEL 1;
COMP "DP<6>" LOCATE = SITE "P101" LEVEL 1;
COMP "DP<7>" LOCATE = SITE "P100" LEVEL 1;
COMP "DP<8>" LOCATE = SITE "P99" LEVEL 1;
COMP "clock" LOCATE = SITE "P123" LEVEL 1;
COMP "com0" LOCATE = SITE "P44" LEVEL 1;
COMP "com1" LOCATE = SITE "P43" LEVEL 1;
COMP "com2" LOCATE = SITE "P33" LEVEL 1;
COMP "com3" LOCATE = SITE "P30" LEVEL 1;
COMP "a" LOCATE = SITE "P41" LEVEL 1;
COMP "PB1" LOCATE = SITE "P45" LEVEL 1;
PIN PB1_pin<0> = BEL "PB1" PINNAME PAD;
PIN "PB1_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "b" LOCATE = SITE "P40" LEVEL 1;
COMP "c" LOCATE = SITE "P35" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "P66" LEVEL 1;
COMP "d" LOCATE = SITE "P34" LEVEL 1;
SCHEMATIC END;

