//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 26 03:49:25 2020
//! **************************************************************************

SCHEMATIC START;
COMP "led" LOCATE = SITE "P95" LEVEL 1;
COMP "clock" LOCATE = SITE "P123" LEVEL 1;
SCHEMATIC END;

